.location-paragraph{
    display: flex;
}
.location-icon{
    height:25px;

}
.order-section{
    width:95%;
}
.order-card{
    border:1px solid gainsboro;  
}
.order-para{
    margin-left:15px;
    width:90%;
    font-size: 12px;
}
.title{
    color: #2CAEE2 ;
}
.view-all-btn{
    background-color: #2CAEE2;
 border: 1px solid #2CAEE2 ;
 border-radius:15px;
 padding-left:10px;
 padding-right:10px;
 color:white;
 margin-top:50px;
 margin-left: 70px;
 width:100%;
}
@media screen and (max-width: 640px) {
    .order-card{
        border:1px solid gainsboro; 
        width:93%; 
    }
    .viewbtn-section{
        width:50%;
    }
    .view-all-btn{
     background-color: #2CAEE2;
     border: 1px solid #2CAEE2 ;
     border-radius:15px;
     padding-left:15px;
     padding-right:15px;
     color:white;
     margin-top:50px;
     margin-left: 10px;
     width:100%;
   
    }
  }