.header-section{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.nav-drop{
    margin-left:110px;
    padding-left:20px;
}
.btn-login{
 background-color: #2CAEE2;
 border: 1px solid #2CAEE2 ;
 border-radius:15px;
 padding-left:10px;
 padding-right:10px;
 color:white;
}
.image{
    margin-left: 30px;
}
@media screen and (max-width: 600px) {
    .nav-drop{
        margin-left:0px;
        padding-left:0px;
    }
    
  }